# NaturesMud Mobile App Environment Template
EXPO_PUBLIC_API_URL=https://naturesmud.shop/api
EXPO_PUBLIC_APP_NAME=NaturesMud
EXPO_PUBLIC_CURRENCY=Rs.
EXPO_PUBLIC_WHATSAPP=+9779819844486
EXPO_PUBLIC_FREE_SHIPPING_THRESHOLD=3000
